<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.yzh.aiagent.domain.ChatMessage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="conversation_id" column="conversation_id" jdbcType="VARCHAR"/>
            <result property="msg_index" column="msg_index" jdbcType="INTEGER"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="metadata" column="metadata" jdbcType="OTHER"/>
            <result property="importance_score" column="importance_score" jdbcType="FLOAT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,msg_index,
        role,content,metadata,
        importance_score,create_time,update_time
    </sql>
</mapper>
